<p id="notice"><%= notice %></p>
<div class="hero-unit">
<div class="row-fluid">
  <%= image_tag @store.cover.url(:large), :class => "span12" %>
</div>


<h1 class="row-fluid">
  <%= @store.name %>
</h1>
<br/>
<p>
  <%= @store.description %>
</p>
  <br/>
<div class="row-fluid">
  <p class="span4 text-left">
    <b>Owner:</b>
    <%= @store.owner %>
  </p>

  <p class="span4 text-center">
    <b>Email:</b>
    <%= @store.email %>
  </p>

  <p class="span4 text-right">
    <b>Location:</b>
    <%= @store.location %>
  </p>
</div>



<%= link_to 'Enter', products_path , :class => "btn btn-large btn-primary"%>
<%= link_to 'Edit', edit_store_path(@store) , :class => "btn pull-right"%>
</div>