<h1>Edit Settings</h1>
<%= form_for(@setting) do |f| %>
    <% if @setting.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

          <ul>
            <% @setting.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :rows_per_page %>
      <%= f.number_field :rows_per_page %>
      <br/>
    </div>
    <div class="field">
      <%= f.label :products_per_row %>
      <%= f.number_field :products_per_row %>
      <br/>
    </div>
    <div class="field">
      <%= f.label :page_width %>
      <%= f.number_field :page_width %>
      <br/>
    </div>
    <div class="field">
      <%= f.label :html_background %>
      <input id="setting_html_background" name="setting[html_background]"
             type="color" value="<%= @setting.html_background %>" />
      <br/>
    </div>
    <div class="field">
      <%= f.label :page_background %>
      <input id="setting_page_background" name="setting[page_background]"
             type="color" value="<%= @setting.page_background %>" />
      <br/>
    </div>
    <div class="actions">
      <%= f.submit "Update Settings", :class => "btn btn-large btn-primary"%>
    </div>
<% end %>
