<%- model_class = Product -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<% $i = 0 %>
<%= paginate @products %>
<% while $i < @products.length do %>
    <% $j = 0 %>
    <div class="row-fluid column-wrap">
      <% while $j < @productsPerRow and $j + $i < @products.length %>
          <% product = @products[$i + $j] %>
          <div class="<%= "span#{12 / @productsPerRow} column well" %>">
            <% if product.pictures.first != nil %>
              <%= link_to image_tag(product.pictures.first.photo.url(:large), :class => "img-rounded"), product_path(product) %>
            <% end %>
            <h3><%= link_to product.name, product_path(product) %></h3>

            <% if product.description.length > 500 %>
                <div><%= product.description[0..500] %><%= link_to "... (see more)", product_path(product) %></div>
            <% else %>
                <div><%= product.description %></div>
            <% end %>


            <div class="clearfix">&nbsp;</div>
          </div>
          <% $j += 1 %>
      <% end %>
    </div>
    <% $j = 0 %>
    <div class="row-fluid base column-wrap">
      <% while $j < @productsPerRow and $j + $i < @products.length %>
          <% product = @products[$i + $j] %>

          <div class="<%= "span#{12 / @productsPerRow} column-base well" %>">
            <div style="float:left"><strong>Cost: </strong>$<%= product.price %></div>
            <div style="float:right"><strong>Quantity: </strong><%= product.quantity %></div>
            <div class="clearfix"></div>
          </div>
          <% $j += 1 %>
      <% end %>
    </div>
    <% $i += @productsPerRow %>
<% end %>
<%= paginate @products %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_product_path,
            :class => 'btn btn-primary' %>
