<%- model_class = Product -%>

<div class="hero-unit">
  <h2><span><%= @product.name %></span></h2>

  <div id="pictureCarousel" class="carousel slide" style="background-color: #444">
    <ol class="carousel-indicators">
      <li data-target="#pictureCarousel" data-slide-to="0" class="active"></li>
      <% for i in 1..(@product.pictures.length - 1) %>
          <li data-target="#pictureCarousel" data-slide-to="<%= i %>"></li>
      <% end %>
    </ol>
    <div class="carousel-inner">
      <div class="active item"><%= image_tag @product.pictures.first.photo.url(:large), :style => "float: center;margin-left: auto;margin-right: auto;" %></div>
      <% for i in 1..(@product.pictures.length - 1) %>
          <div class="item"><%= image_tag @product.pictures[i].photo.url(:large), :style => "float: center;margin-left: auto;margin-right: auto;"%></div>
      <% end %>
    </div>
    <a class="carousel-control left" href="#pictureCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#pictureCarousel" data-slide="next">&rsaquo;</a>
  </div>

  <p><%= @product.description %></p>

  <strong><%= model_class.human_attribute_name(:category) %>:</strong> <%= @product.category.name %>
  <div class="clearfix"></div>
  <strong><%= model_class.human_attribute_name(:price) %>:</strong> $<%= @product.price %>
  <div class="clearfix"></div>
  <strong><%= model_class.human_attribute_name(:quantity) %>:</strong> <%= @product.quantity %>
  <div class="clearfix"></div>
  <div class="clearfix"></div>


  <div class="text-right">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                products_path, :class => 'btn' %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_product_path(@product), :class => 'btn' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                product_path(@product),
                :method => 'delete',
                :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                :class => 'btn btn-danger' %>
  </div>

</div>
